<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    
    <h2>To Do Form</h2>
    
    <hr>
    
    <form>
        <label for="id_name">Name: </label>
        <input type="text" id="id_name" name="add_todo" placeholder="Add Item..."/></br>
        
        <label for="id_decription">Description: </label>
        <input type="text" id="id_name" name="add_todo" placeholder="Add Description..."></br>
        
        <label for="id_urgent"></label>
        <input type="radio" id="id_urgent" name="urgent">Urgent</br>
        
        
        <input type="submit" value="Add"/>
    </form>

    

</body>

</html>
